@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 194 30% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 15% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 194 15% 94%;
    --muted-foreground: 224 20% 45%;
    --accent: 0 82% 72%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 15% 88%;
    --input: 194 15% 88%;
    --ring: 194 30% 56%;
    --chart-1: 194 30% 56%;
    --chart-2: 0 82% 72%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 194 10% 10%;
    --foreground: 40 33% 98%;
    --card: 194 10% 15%;
    --card-foreground: 40 33% 98%;
    --popover: 194 10% 10%;
    --popover-foreground: 40 33% 98%;
    --primary: 194 30% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 10% 25%;
    --secondary-foreground: 40 33% 98%;
    --muted: 194 10% 25%;
    --muted-foreground: 194 10% 60%;
    --accent: 0 82% 72%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 10% 25%;
    --input: 194 10% 25%;
    --ring: 194 30% 56%;
    --chart-1: 194 30% 56%;
    --chart-2: 0 82% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
